{% extends 'base.html.twig' %}

{% block body %}

    <h1>Vos coordonnées</h1>


    {% for i in 1..number %}

        <p>Coucou {{ i }}</p>

    {% endfor %}

    <p> La date est : {{ azerty }} </p>

    <p>Type de ticket : {{ ticketType }}</p>

    {{ form_start(form) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.birthdate) }}
        {{ form_row(form.email) }}
        {{ form_row(form.country) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>

    {{ form_end(form) }}


    <div class="jumbotron">
        <p>Billet n° 1</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <div class="jumbotron">
        <p>Billet n° 2</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <div class="jumbotron">
        <p>Billet n° 3</p>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="date" placeholder="Date de naissance">
        <input type="text" placeholder="Pays">
        <div id="reducedPrice">
            <input type="checkbox" name="reduced" id="reduced">
            <label for="reduced">Tarif réduit ?</label>
        </div>

    </div>

    <button type="button" class="btn btn-primary"><a href="{{ path('app_ticketing_summary') }}">Résumé de vos billets</a></button>

{% endblock %}