{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('Images/logo_louvre.jpg') }}" alt="logo Louvre" id="logoLouvre">

    <div id="welcomeMessage">
        <h1>Billeterie du musée du Louvre</h1>
        <p>Achetez dès maintenant vos billets pour éviter la file d'attente !</p>
        <a class="btn btn-primary" href="#ticketing">Acheter vos billets</a>
    </div>

    <div id="presentationText">
        <h2>Un achat simple</h2>
        <p>Vous avez la possibilité d'acheter vos billets directement sur ce site de manière sécurisé</p>
        <p>Pour cela, rien de plus simple : </p>
        <ul>
            <li>Choisissez la date qui vous convient</li>
            <li>Le type de billet et le nombre</li>
            <li>Inscrivez le nom, prénom et la date d'anniversaire de chacune des personnes</li>
            <li>Procédez au paiement</li>
            <li>Et c'est tout !</li>
        </ul>
        <p>Vous recevrez ensuite par mail le ticket qu'il vous faudra présenter pour pouvoir accéder au musée</p>
    </div>

    <div id="pricing">
        <h2>Les tarifs</h2>
        <p><u>Pour une journée :</u></p>
        <div id="listPrice">
            <ul>
                <li>Tarif normal (à partir de 12 ans) : 16€</li>
                <li>Tarif enfant (à partir de 4 ans et jusqu'à 12 ans) : 8€</li>
                <li>Tarif senior (à partir de 60 ans) : 12€</li>
                <li>Tarif réduit (Étudiant, employé du musée, d'un ministère de la Culture, militaire ...) : 10€</li>
            </ul>
        </div>
        <p><u>Pour une demi-journée :</u></p>
        <div id="listPriceHalf">
            <ul>
                <li>Tarif normal (à partir de 12 ans) : 8€</li>
                <li>Tarif enfant (à partir de 4 ans et jusqu'à 12 ans) : 4€</li>
                <li>Tarif senior (à partir de 60 ans) : 6€</li>
                <li>Tarif réduit (Étudiant, employé du musée, d'un ministère de la Culture, militaire ...) : 5€</li>
            </ul>
        </div>
        <em>NB : Pour les enfants de moins de 4 ans, l'accès au musée est gratuit.</em>
    </div>

    <div id="openDays">
        <h2>Les horaires d'ouvertures</h2>
        <p>Les horaires pour accéder au musée </p>
        <ul id="listHours">
            <li>Lundi : 10h - 18h</li>
            <li>Mardi : 10h - 18h</li>
            <li>Mercredi : 10h - 18h</li>
            <li>Jeudi : 10h - 18h</li>
            <li>Vendredi : 10h - 18h</li>
            <li>Samedi : 10h - 18h</li>
            <li>Dimanche : Fermé</li>
        </ul>
        <em>Le musée est fermé le 1er mai, le 1er novembre et le 25 décembre.</em>
    </div>


    <div id="ticketing">
        <h2 id="ticketingTitle">Billetterie</h2>
            <p id="messageSold" class="alert alert-danger">Le nombre de places pour cette journée ont toutes été vendues</p>
            {{ form_start(form) }}

            {{ form_row(form.bookingday) }}
            {{ form_row(form.type) }}
            <div id="halfDay" style="display: none"><p>Il est plus de 14h, donc vous pouvez seulement acheter des billets 1/2 today</p></div>
            {{ form_row(form.quantity) }}

            <button type="submit" class="btn btn-primary" id="submitBooking">Envoyer</button>

            {{ form_end(form) }}


    </div>

    <script>

        var holidays = ["12/25/2018", "05/01/2019", "11/01/2019", "12/25/2019", "05/01/2020", "11/01/2020", "12/25/2020"];


        $( function() {
            $( "#booking_bookingday" ).datepicker({
                minDate : '0',
                maxDate : '+1Y',
                dateFormat : "dd/mm/yy",
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
                dayNamesShort: [ "Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam" ],
                firstDay : 1,
                monthNames: [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" ],
                monthNamesShort: [ "Jan", "Fev", "Mars", "Avr", "Mai", "Juin", "Jul", "Août", "Sep", "Oct", "Nov", "Dec" ],
                beforeShowDay: function(date){
                    show = true;
                    if(date.getDay() == 0)
                    {
                        show = false;
                    }
                    for (var i = 0; i < holidays.length; i++) {
                        if (new Date(holidays[i]).toString() == date.toString())
                        {
                            show = false;
                        }
                    }
                    var display = [show,'',(show)?'':'Hors dimanche et jours fériés'];
                    return display;
                },
                onSelect : function () {
                    var date = document.getElementById('booking_bookingday').value;
                    choiceTypeTicket(date);
                    var field = date;
                    var url = 'http://127.0.0.1:8000/ajax';
                    $(document).ready(function () {
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: 'field='+field,
                            success: function () {
                                document.getElementById('submitBooking').style.display ="block";
                                document.getElementById('messageSold').style.display="none";

                            },
                            error: function () {
                                document.getElementById('submitBooking').style.display ="none";
                                document.getElementById('messageSold').style.display="block";
                            }
                        })});


                }

            });
        } );

        function choiceTypeTicket(date)
        {

            var today = new Date();

            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            var currentDate = dd + '/' + mm + '/' + yyyy;

            var UTChours = today.getUTCHours();
            var currentHour = UTChours + 1;

            if ((date === currentDate) && (currentHour >= 14))
            {
                document.getElementById('booking_type_1').checked = true;
                document.getElementById('booking_type').style.display = "none";
                document.getElementById('halfDay').style.display = 'block';
            }
            else
            {
                document.getElementById('booking_type').style.display = 'block';
                document.getElementById('halfDay').style.display = 'none';
            }

        }

        $(document).ready(function() {
            $('a[href^="#"]').click(function (evt) {
                evt.preventDefault();
                var target = $(this).attr('href');
                $('html, body')
                    .stop()
                    .animate({scrollTop: $(target).offset().top}, 1000);
            });
        });

    </script>


{% endblock %}