{% extends 'base.html.twig' %}

{% block body %}

    <h1>Résumé de votre réservation</h1>

    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date naissance</th>
            <th>Pays</th>
            <th>Age</th>
            <th>Prix</th>
        </tr>
        {% for customer in user %}
        <tr>
            <td>{{ customer.lastname }}</td>
            <td>{{ customer.firstname }}</td>
            <td>{{ customer.birthdate }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.age }}</td>
            <td>{{ customer.price }}</td>

                </tr>
            {% endfor %}



    </table>

    <div class="jumbotron">
        <h2>Tableau récapitulatif</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Billet n°</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Pays</th>
                    <th>Tarif réduit ?</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>01/01/1980</td>
                    <td>France</td>
                    <td>Non</td>
                    <td>16€</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>01/01/1980</td>
                    <td>France</td>
                    <td>Non</td>
                    <td>16€</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Test</td>
                    <td>Test</td>
                    <td>01/01/1980</td>
                    <td>France</td>
                    <td>Non</td>
                    <td>16€</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-danger">Annuler la réservation</button>
    <button type="button" class="btn btn-primary">Procéder au paiement</button>

{% endblock %}