{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="titleCenter">Résumé de votre réservation</h1>
    <hr />

    <div id="tableTicket">
        <h2>Tableau récapitulatif</h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Billet n°</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Pays</th>
                    <th>Tarif réduit ?</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = 0 %}

                {% for customer in user %}
                    {% set counter = counter + 1 %}
                    <tr>
                        <th scope="row">{{ counter }}</th>
                        <td>{{ customer.lastname | capitalize}}</td>
                        <td>{{ customer.firstname | capitalize}}</td>
                        <td>{{ customer.birthdate | date('d-m-Y')}}</td>
                        <td>{{ customer.country }}</td>
                        {% if customer.reducedprice == 0 %}
                            <td>Non</td>
                        {% else %}
                            <td>Oui</td>
                        {% endif %}
                        <td>{{ customer.price }}€</td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>

    {% set counter = 0 %}

    {% for customer in user %}

        {% set counter = counter + 1 %}

        <div class="infoBlock">
            <div class="infoNumber">
                Billet n°{{ counter }}
            </div>
            <div class="infoCustommer">
                <ul>
                    <li>Nom : {{ customer.lastname | capitalize}}</li>
                    <li>Prénom : {{ customer.firstname | capitalize}}</li>
                    <li>Date de naissance : {{ customer.birthdate | date('d-m-Y')}}</li>
                    <li>Tarif réduit : {% if customer.reducedprice == 0 %}Non{% else %}Oui{% endif %}</li>
                </ul>
            </div>
            <div class="ticketPrice">
                Prix : {{ customer.price }}€
            </div>
        </div>

    {% endfor %}

    <h2 style="text-align: center">Total : {{ sum }}€</h2>
    <div id="cancelAndPaiement">
        <div id="cancelButton">
            <a href="{{ path('erase') }}"><button type="button" class="btn btn-danger">Annuler la commande</button></a>
        </div>
        <div id="paiementButton">
            <form action="{{ path('payment') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_9y2iO8ZCIEg06ONKLxjJ9qvb"
                        data-amount="{{ sum * 100}}"
                        data-name="Musée du Louvre"
                        data-description="Billets pour le musée"
                        data-image="{{ asset('Images/Louvre.jpg') }}"
                        data-locale="auto"
                        data-label="Procéder au paiement"
                        data-allow-remember-me="false"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>


{% endblock %}

{% block footer %}{% endblock %}